/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
    background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80);
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }
 
  
   .conte_parent{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    
  }
  
  
  .conte{
      height: 510px;
      width: 350px;
      box-shadow:0 0 7px #111 ;
      margin: 30px 30px;
      background-color: white;
      
        
         
      
  }
   .conte .card{
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
    background-color: white;
}
.card img{
    margin: auto;
    display: block;
}
.conte .crema img{
    height: 330px;
    width: 300px;
}
.conte .crema{
     background-color: #9370db;
}
.conte .gela{
    background-color: #9370db;
}
.conte .gota{
    background-color:#9370db;
}

.conte .kera{
    background-color: #9370db;
}

.conte .cepi{
    background-color: #9370db;
}

.conte .sham{
    background-color: #9370db;
}
.conte .gela img{
    height: 330px;
    width: 230px;
}
.conte .gota img{
    height: 330px;
    width: 300px;
}
.informacion{
    height: 80px;
    width: 100%;
}
.informacion h1{
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}
.informacion p{
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: #555;
}
.precio {
    height:50px;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-precio{
    width: 80px;
}
 .precio1{
    color: red;
    font-size: .8em;
}
.precio .precio2{
    font-size: 1.5em;
}
.material-icons{
    font-size: 1.5em;
    color: #111;
    margin-inline: 275px;
    
}
